.update_password_container {
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .update_password_title {
    width: 100%;
    height: 35px;
    display: flex;
    font-size: 17px;
    color: $color_nuance_grey1;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
    @include button_bubble_1;
  }
  .update_password_one {
    width: 95%;
    height: 35px;
    display: flex;
    margin-top: 10px;
    padding: 0 10px 0 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
    .update_password_one_input {
      width: 70%;
      height: 90%;
      display: flex;
      border: none;
      outline: none;
    }
    .update_password_end {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .update_password_end_icon {
        width: 30%;
      }
    }
  }
  .update_password_submit {
    width: 90%;
    height: 35px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    .update_password_submit_button {
      width: 80%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      @include submit_button_black;
    }
  }
}
