DOMAINS_CORS=http://localhost:8000
MYSQL_HOST=mysql
MYSQL_USER= 
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
JWT_SECRET_TOKEN=
JWT_SECRET_MAIL=
MAILER_EMAIL=
MAILER_PASS=
MAILER_HOST=smtp-mail.outlook.com
VALIDATE_ROUTE=http://localhost:8000/validation_email
VALIDATE_UPDATE_ROUTE=http://localhost:8000//validation_nouvelle_adresse_email
