.listing_filter_container {
  width: 53%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
  background-color: $color_nuance_white1;
  .listing_filter_left {
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    .listing_filter_left_select {
      width: 90%;
      height: 30px;
      display: flex;
      outline: none;
      border: none;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
    }
  }
  .listing_filter_right {
    width: 50%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    .selected_filter_form {
      width: 95%;
      height: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .selected_filter_form_section {
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: space-around;
        display: flex;
        box-sizing: border-box;
        .selected_filter_input,
        .selected_filter_select {
          width: 100px;
          height: 20px;
          display: flex;
          box-sizing: border-box;
          outline: none;
          border: none;
          border-radius: 3px;
          box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
        }
        .selected_filter_select {
          width: 150px;
        }
        .selected_filter_submit {
          width: auto;
          height: 20px;
          padding: 0 20px;
          display: flex;
          border-radius: 5px;
          @include submit_button_black;
        }
      }
    }
  }
}
