.matcha_notif_container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: none;
  .matcha_notif_message {
    max-width: 98%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    color: $color_nuance_white1;
    border-left: 8px solid $color-pal-yellow;
    background-color: $color_nuance_grey2;
    box-shadow: 1px 1px 5px 1px $color_pal_yellow;
    animation-name: slide;
    animation-duration: 1s;
    overflow: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .matcha_notif_close {
      width: 30px;
      display: flex;
      justify-content: end;
      cursor: pointer;
    }
    .matcha_notif_text {
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      background-color: none;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
