.dashboard_chat_container {
  width: 80%;
  height: 100%;
  display: flex;
  .dashboard_match_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-right: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
    .dashboard_match_title {
      width: 100%;
      height: 40px;
      border-radius: 15px;
      text-align: center;
      font-family: Playwrite NG Modern;
      background-color: $color_nuance_pink2;
      border-bottom: 2px solid $color_nuance_pink1;
    }
    .dasboard_match_users {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      overflow: hidden;
      .dashboard_match_edit_container {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        .dashboard_match_edit_username {
          width: 45%;
        }
        .dashboard_match_edit_button {
          width: 20%;
          margin-right: 5px;
        }
      }
    }
  }
  .dashboard_chat_stat {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
  }
}
