.dashboard_photo {
  width: 15%;
  height: 80%;
  margin: 0 20px 0 20px;
  box-shadow: 1px 1px 5px 1px $color_nuance_grey4;
  .dashboard_photo_img {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
  }
}

.dashboard_account {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .dashboard_account_data {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .dashboard_account_data_row_1 {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 20px;
      font-size: 30px;
      color: $color_nuance_white1;
      font-family: Playwrite NG Modern;
    }
    .dashboard_account_data_row {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 5px;
      font-size: 19px;
      color: $color_nuance_grey3;
    }
  }

  .dashboard_account_data_submit {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    .dashboard_account_data_submit_button {
      width: 250px;
      border-radius: 10px;
      border: none;
      font-style: italic;
      box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
      color: $color_nuance_grey4;
      background-color: $color_nuance_white1;
      cursor: pointer;
      &:hover {
        background-color: $color_nuance_grey3;
        color: $color_nuance_white1;
        transition: all 0.2s;
      }
    }
  }
}

.dashboard_fame {
  width: 20%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .dashboard_fame_score {
    height: 20px;
    padding: 5px;
    z-index: 20;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: -100px 0 0 40px;
    font-size: 25px;
    background-color: $color_nuance_white1;
    border: 1px solid $color_nuance_grey3;
    color: $color_nuance_grey2;
  }
  .dashboard_fame_icon {
    position: absolute;
  }
}

.dashboard_info {
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  color: $color_nuance_grey3;
  .dashboard_chat_stat {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dashboard_account_info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .dashboard_account_info_row {
      width: 100%;
      height: 20px;
      display: flex;
      .dashboard_account_info_row_text {
        width: 60%;
      }
      .dashboard_account_info_row_value {
        width: 30%;
      }
    }
  }
}
