.dashboard_search_container {
  width: 35%;
  height: 100%;
  margin-right: 20px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
  .dashboard_search_title {
    width: 100%;
    height: 40px;
    font-family: Playwrite NG Modern;
  }
  .one_critere {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 15px;
    .one_critere_username {
      width: 75%;
      height: 30px;
      display: flex;
      outline: none;
      box-sizing: border-box;
      padding-left: 10px;
      margin-right: 20px;
      border: none;
      border-bottom: 1px solid $color_nuance_grey3;
    }
    .one_critere_text {
      width: 75%;
      height: 30px;
      display: flex;
      align-items: center;
      margin-right: 20px;

    }
    .one_critere_button {
      width: 50px;
      height: 30px;
      border-radius: 50px;
      border: none;
      color: $color_nuance_white1;
      box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
      background-color: $color_pal_base;
      cursor: pointer;
      &:hover {
        background-color: $color_nuance_grey3;
        box-shadow: none;
        transition: all 0.3s;
      }
    }
  }
}

.dashboard_search_multi {
  width: 90%;
  height: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  .dashboard_search_multi_text {
    font-family: Playwrite NG Modern;
    background-color: $color_pal_base;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: $color_nuance_grey3;
      font-style: italic;
      color: $color_nuance_white1;
      transition: all 0.3s;
    }
  }
}
