.dashboard_chat_container {
  width: 80%;
  height: 100%;
  display: flex;
  .dashboard_chat_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-right: 20px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
    .dashboard_chat_section_title {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      font-family: Playwrite NG Modern;
      background-color: $color_nuance_pink2;
      border-bottom: 2px solid $color_nuance_pink1;
    }
    .dashboard_chat_section_reload {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: end;
      padding-right: 10px;
      align-items: center;
      position: absolute;
      box-sizing: border-box;
      .dashboard_chat_section_reload_icon {
        width: 30px;
        cursor: pointer;
      }
    }
    .dashboard_chat_section_content {
      width: 100%;
      height: 80%;
      margin: auto;
      padding: 10px;
      overflow-y: scroll;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        display: none;
      }
      .dashboard_chat_section_one_content {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .dashboard_chat_section_one_content_username {
          width: 50%;
        }
        .dashboard_chat_section_one_content_button {
          width: 25%;
          margin-right: 5px;
        }
      }
    }
  }
}
