.delete_photo_profile_confirm {
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  margin: 20px;
  padding-top: 50px;
  flex-direction: column;
  box-sizing: border-box;
  .delete_photo_profile_confirm_section {
    width: 300px;
    height: 150px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgb(190, 232, 224);
    background: linear-gradient(
      180deg,
      rgb(135, 224, 208) 0%,
      rgba(8, 184, 149, 1) 16%,
      rgb(138, 213, 199) 100%
    );
    box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
    .delete_photo_profile_text_on {
      color: white;
      font-size: 20px;
    }
    .delete_photo_profile_text_off {
      color: $color_pal_navy;
      font-size: 17px;
    }
    .delete_photo_profile_button {
      width: 100%;
      height: 30px;
      display: flex;
      margin-top: 30px;
      justify-content: space-around;
      button {
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px $color_nuance_grey1;
      }
    }
  }
}
